body {
    margin: 0px auto;
}

.container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .wrapper {
        display: table-cell;
        vertical-align: middle;

        .field-group {
            margin-left: auto;
            margin-right: auto;
            width: 400px;
            padding: 50px;
            border-radius: 10px;
            box-shadow: 5px 10px #888888;
            text-align: center;
            background-color: antiquewhite;

            table td {
                padding: 5px;
                font-size: 16px;
                text-align: left;
                border-bottom: 1px solid #888888;
                border-left: 1px solid #888888;
            }

            table {
                border: 1px solid #888888;
                margin-left: auto;
                margin-right: auto;
            }

            .form-label {
                font-size: 16px;
                font-weight: 500;
                // padding: 20px;
            }

            .form-input {
                margin: 5px;
            }

            .btn-delete {
                background-color: red !important;
            }

            .btn {
                background-color: rgb(21, 21, 87);
                color: white;
                padding: 5px 8px;
                width: 110px;
                text-decoration: none;
                border-bottom-style: none;
            }
        }

    }

}

.dashboard-head {
    background-color: antiquewhite;
    height: 78px;
    padding: 5px;

    .menu-wrapper {
        float: right;

        .user-heading {
            display: inline-block;
            text-transform: capitalize;
        }

        .logout {
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            color: black;
        }
    }
}