body {
  margin: 0px auto;
}
.container {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.container .wrapper {
  display: table-cell;
  vertical-align: middle;
}
.container .wrapper .field-group {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
  text-align: center;
  background-color: antiquewhite;
}
.container .wrapper .field-group table td {
  padding: 5px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #888888;
  border-left: 1px solid #888888;
}
.container .wrapper .field-group table {
  border: 1px solid #888888;
  margin-left: auto;
  margin-right: auto;
}
.container .wrapper .field-group .form-label {
  font-size: 16px;
  font-weight: 500;
}
.container .wrapper .field-group .form-input {
  margin: 5px;
}
.container .wrapper .field-group .btn {
  background-color: #151557;
  color: white;
  padding: 5px 8px;
  width: 90px;
  text-decoration: none;
}
.dashboard-head {
  background-color: antiquewhite;
  height: 78px;
  padding: 5px;
}
.dashboard-head .menu-wrapper {
  float: right;
}
.dashboard-head .menu-wrapper .user-heading {
  display: inline-block;
  text-transform: capitalize;
}
.dashboard-head .menu-wrapper .logout {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: black;
}
